[2018-05-19 16:58] aaronbrethorst opened #2 "Example project currently looks busted"
Here's what I see when I launch the example project:

![simulator screen shot - iphone se - 2018-05-19 at 09 57 30](https://user-images.githubusercontent.com/2254/40270948-0e3e281e-5b4b-11e8-8ba3-c2605e023b02.png)

At least, I think the other examples that are commented out in the App Delegate should be reenabled. This looks cool, I look forward to diving into it a bit more soon. Cheers!

[2018-05-19 17:06] croossin commented on #2
Hi @aaronbrethorst - thanks for checking out the project!
If you take a look in `ViewController.swift` you will see two `loadCards(cards: )` being called.  You can comment out one of the lines to see different Cards being set up.

[2018-05-19 17:08] aaronbrethorst commented on #2
@croossin good to know—I think it would be worth highlighting that in the readme or, better yet, in the project itself for the next 100,000 people who look at this :)

[2018-05-20 18:40] efremidze opened #4 "Example loads empty UI"
The example project toggles between 2 empty cards. I doubt this is the desired behavior.

![simulator screen shot - iphone x - 2018-05-20 at 11 40 05](https://user-images.githubusercontent.com/2286277/40282324-8d3e39ce-5c22-11e8-9248-a7f2fada7144.png)
![simulator screen shot - iphone x - 2018-05-20 at 11 40 07](https://user-images.githubusercontent.com/2286277/40282325-8ea19c5c-5c22-11e8-9ffb-2187

[2018-05-20 18:48] croossin commented on #4
This is more showing that the cards have the ability to auto-resize based on the CardParts that are in them :) Feel free to look into the Cards that are being loaded in the example and you can alter which CardParts that compose them.

[2018-05-20 18:48] #4 closed

[2018-05-22 03:01] croossin opened #6 "ShadowCardTrait documentation"
Add ShadowCardTrait to the documentation/README.

[2018-05-22 03:02] croossin opened #7 "More examples"
We should have a more in-depth example app that shows all of the different style CardParts and some of the available traits.

[2018-05-22 04:34] lwdupont commented on #7
Ya, I'm in to do some :)

[2018-05-22 04:45] lwdupont commented on #7
What do you think about making the first view a set of cards that list different examples? Or categories of examples? Or a tab bar with some different major types?

[2018-05-22 07:49] matadan opened #10 "Carthage"
Please add an option to use carthage as a package manager.

[2018-05-22 12:47] croossin commented on #7
Yes, I really like that idea.  @lwdupont did you want to take that up? Or we can create a side branch and work on it together? Up to you.

[2018-05-22 12:48] croossin commented on #10
@matadan We will take a look into adding carthage as a package manager.  Thanks for the request.

[2018-05-22 13:08] lwdupont commented on #7
I'll make a side branch, and you can answer my questions? :) (and help if I'm too slow) :)

[2018-05-22 15:27] croossin commented on #6
Completed with #8

[2018-05-23 06:56] matadan commented on #10
Thank you.

--
Andrew Eades

[2018-05-23 15:27] croossin opened #12 "Card Visibility Delegate"
We should be able to know if a given Card is visible on the screen as well as what percent it is visible.

[2018-05-23 23:31] croossin commented on #12
Active PR #14

[2018-05-24 14:50] croossin commented on #7
Completed with #13

[2018-05-24 14:50] #7 closed

[2018-05-24 17:29] croossin commented on #12
This is now complete #15

[2018-05-24 17:29] #12 closed

[2018-05-29 11:37] richardtop opened #18 "Support for infinite-scrolling lists in a form of a card"
Hi, thanks for the interesting framework.

I'm interested, whether it can be used to display an infinite scrollable list in a form of a card. The idea is that the two top- and bottommost parts of the card are rounded, while the shadow is displayed underneath the whole card.

The challenge is that the card can be very large (i.e. transaction history, contact list, etc), so the whole card cannot be

[2018-05-29 12:15] gerchicov-bp opened #19 "The label gets out of bounds in example"
iPhone 5s simulator:
![simulator screen shot - iphone 5s - 2018-05-29 at 15 13 49](https://user-images.githubusercontent.com/11498205/40658179-0cf0134a-6353-11e8-809b-15daaed15d12.png)

[2018-05-29 12:21] richardtop commented on #19
I can confirm the issue on iPhone SE.

[2018-05-29 18:18] croossin commented on #18
Hi @richardtop - thanks for the question!
If you are asking if the cards are able to be a dynamic height and have an infinite amount of cells in it, then yes, it certainly can!

Let's take the Snapchat example:
For simplicity, we will just take about the best friends card and the recent card.
You can achieve that by having 2 [CardPartTableViews](https://github.com/intuit/CardParts#cardparttablevie

[2018-05-29 18:18] #18 closed

[2018-05-29 22:21] richardtop commented on #18
Hi @croossin, thank you for your prompt response.
I guess, I was misunderstood - my question was about supporting cell reuse in the _UITableView_ in the aforementioned configuration.

I give _CardPartTableView_ a try and increased the number of rows in the example project, so that my _ViewModel_ now looked like this:
[code]

However, it seems that the _UITableView_ is displayed fully, without the

[2018-05-30 21:46] dtumer opened #20 "Ambiguous reference when binding to the title of a button"
It looks like that RxSwift has a function called "title()". When trying to bind to the title of a button through RxSwift there is an ambiguous reference build error in Xcode.

The fix should be easy we should just be able to rename the binder variable that is exposed in CardPartButtonView.swift so that it does not conflict with the RxSwift function

[2018-05-30 21:47] croossin commented on #20
Maybe something like `buttonTitle`

[2018-05-30 22:09] croossin commented on #20
This is complete via PR #21 .

[2018-05-30 22:09] #20 closed

[2018-05-30 22:10] croossin opened #22 "Add Pods folder and Podfile.lock to .gitignore"
We should have users run `pod install` on example app to ensure the latest code.

[2018-05-31 02:38] lwdupont commented on #19
@croossin Is this an issue in the CardParts code, or just the example? Can I take a poke around at it?

[2018-05-31 02:46] croossin commented on #19
@lwdupont That would be awesome if you could!

[2018-05-31 03:31] lwdupont commented on #19
@croossin So I looked at it.

Thinking CardParts should handle this, I traced into where it's setting up the CardPartsTitleView. I tweaked updateContraints() slightly to pin the horizontal to both edges. I'll open up a pull request soonish, maybe tomorrow.

Results:

![iphone 8 plus](https://user-images.githubusercontent.com/50843/40759789-7030a05a-6448-11e8-9f55-97d26fe97e6d.png)
![iphone se](htt

[2018-05-31 12:21] willysharp5 opened #24 "Could you show a sample on how to handle a menu Item popup"
This statement is confusing.

"The menuOptionObserver property can be set to a block that will be called when the user selects an item from the menu"

Thanks

[2018-05-31 12:23] willysharp5 opened #25 "How do you make a whole card clickable/tappable"
Do you use a button and add an empty image?

[2018-05-31 12:49] willysharp5 opened #26 "A way to create cards and cardparts dynamically"
I want to create a number of these cards dynamically.
I also want to create multiple instances of CardPartTextField dynamically and add to the setupCardParts array

[2018-05-31 14:19] croossin commented on #25
We are currently working on that feature and will update you once it is complete!

[2018-05-31 14:19] #25 closed

[2018-05-31 14:21] croossin commented on #26
Do you mean dynamically by some sort of response from the server that dynamically lays out multiple cards? I am unsure what you mean by dynamically in this case.  If you want to create several `CardPartTextField`, you are able to append them to an array and then pass in that array to `setupCardParts`.

[2018-05-31 14:31] croossin commented on #19
This was fixed in PR #23 and released in CardParts 2.3.4

[2018-05-31 14:31] #19 closed

[2018-05-31 14:42] willysharp5 commented on #26
Yes I meant dynamically from the server.

Also if I was to create multiple CardPartTextFields from the server would I have to create CardPartTextFields1, CardPartTextFields2 and so forth.

My question how do I dynamically create this without having to create 1,2... and so forth.

Thanks

[2018-05-31 14:42] croossin commented on #24
Hi! Sure, sorry for the confusion.  Here is how you would set the `menuOptionObserver` property:

[code]

You can now see this reflected in the [CardPartTitleView Documentation](https://github.com/intuit/CardParts#cardparttitleview).

[2018-05-31 14:42] #24 closed

[2018-05-31 15:01] willysharp5 commented on #26
Also in the same question How would dynamically create the Cards

[2018-05-31 15:05] croossin commented on #26
While this is possible, it is not something that we support. You would request something from your server and based on the response, the client would dynamically render the Cards as well as the CardParts.  We are taking a look at creating a rendering engine but have no planned ETA.  Sorry!

[2018-05-31 15:05] #26 closed

[2018-06-01 13:52] willysharp5 opened #29 "Override CardParts to add custom Views"
I would like to add a Charting View to the CardParts. Kinda like you have with Intuit's Charts.
Is there a way to do that?

In general is there a way to adding a custom view

Thanks

[2018-06-01 22:00] dtumer commented on #29
Hi! Yes you definitely can! We have not included any documentation on it at the moment but we will be  releasing that documentation soon.

What you can do is very similar to what we have done with `CardPartBarView`. What you would need to do is create a card part that extends a UIView and then implements the `CardPartView` interface. The required variable to implement would be `margins`. Basically

[2018-06-01 22:57] willysharp5 commented on #29
Great. Thanks

[2018-06-01 22:57] #29 closed

[2018-06-02 13:32] croossin commented on #22
Also use `pod deintegrate`

[2018-06-05 20:37] croossin commented on #25
@willysharp5 We just added this functionality in PR #32.  Feel free to check it out in v2.3.5.

[2018-06-05 20:51] lwdupont commented on #10
For when I or someone gets to this:

https://github.com/Carthage/Carthage#supporting-carthage-for-your-framework

[2018-06-05 21:25] willysharp5 opened #35 "Clickable Cards"
https://github.com/intuit/CardParts#clickable-cards

Could you elaborate on how to use this. where do you add this new code for clickable for the various states

[code]

[2018-06-05 21:39] #35 closed

[2018-06-06 13:48] croossin opened #36 "Ability to add custom CardStates"
We should allow users to be able to make custom CardStates so they can setup their CardParts for as many states as they would need.

[2018-06-06 15:05] croossin commented on #36
@lwdupont https://github.com/intuit/CardParts#card-states

[2018-06-06 15:08] lwdupont commented on #36
What kind of other states do people want? Why would I want to add a custom state via card parts, vs just adding some other var on my subclass?

Not judging. Just curious. 😄

[2018-06-06 15:22] croossin commented on #36
So currently we give developers the option to choose from one of the following states:
[code]
What if none of those states made sense for the developer? They may want to have a card in the `.signedUp` or `.loggedIn` state to show something different.  Or, they have more than 4 possible states the card could be in. In my opinion, the framework should not care about how many states there are or what

[2018-06-07 00:50] bharathmurs commented on #36
I would say having strings would give user flexibility to define their own states. Having enums would be limited.

[code]

`setupCardParts([titlePart, textPart], forState: CardState.loggedIn)`
`setupCardParts([titlePart, textPart], forState: CardState.loggedOut)`

[2018-06-07 22:30] croossin opened #37 "Add the ability to have Card gradients and different angles"
We should allow the developer to choose the angle at which he wants the gradient to be shown on the card. I.E. 45*, 90*, etc.

[2018-06-07 23:29] dtumer opened #41 "Add ability for a card to have a background image"
It would be really nice to be able to specify a background image for a card rather than just using a color. There are many cases I can think of that I need a card to have a background image.

[2018-06-07 23:45] dtumer commented on #37
This issue is fixed with PR #40

[2018-06-07 23:45] #37 closed

[2018-06-13 03:02] croossin opened #45 "Ability to receive long press gestures on Card"
We should be able to receive long press gesture on a card and then be notified when the user interacts as we wanted.

[2018-06-13 03:03] #45 closed

[2018-06-19 19:52] dtumer commented on #36
I actually have a perfect use case for this right now. Is this going to be done anytime soon or should I work on this?

I have a use case where I have a .loading version of one of my cards, but depending on data that is binded on the card I need the card layout to change. There's not enough states for me to be able to include all of the changes. I'd need to be able to define my own states as well

[2018-06-20 16:05] croossin opened #50 "Travis CI for PR's"
Enabled Travis CI integration for Unit Tests on PR's

[2018-06-20 16:29] croossin commented on #50
Completed #51

[2018-06-20 16:29] #50 closed

[2018-06-20 16:56] #36 closed

[2018-06-21 01:02] lwdupont commented on #36
Makes total sense btw.. sorry been out sick the past few days.. you all are cranking on this!

[2018-06-21 09:05] zhengwuhao opened #56 "Unable to find a specification for `CardParts`"
This my podfile, when I execute pod install
It throws "Unable to find a specification for `CardParts`"
Any Help?
![screenshot 2018-06-21_17-03-53](https://user-images.githubusercontent.com/16046621/41709175-234d03f8-7575-11e8-9e50-eb09f9296a5f.png)

[2018-06-22 03:33] zhengwuhao commented on #56
It worked like a charm! Thank you!

[2018-06-22 03:33] #56 closed

[2018-06-25 18:02] croossin opened #58 "Add Jazzy Documentation"
As we are growing, documentation will be a lot to handle - we should use [Jazzy](https://github.com/realm/jazzy) as a way to have clean and concise documentation.

[2018-06-28 17:21] croossin opened #60 "Make CardPartStackView Tappable"
You should be able to bind a tap completion block to a UIStackView just as you can with a CardPartButtonView.

[2018-06-28 17:48] croossin commented on #60
Decided to go with [RxGesture](https://github.com/RxSwiftCommunity/RxGesture) since it encompasses all of this in one simple library.

[2018-06-28 17:48] #60 closed

[2018-06-29 22:55] bornbrie commented on #26
I have started implementing a system like the one described by @croossin. I'm using Firebase/Firestore with a collection of documents called `layouts`. Inside the `layouts` collection there are corresponding versioned documents, i.e. `v1`, `v2`, etc. to scale the data structure as needed. Inside each document are multiple array objects, each pertaining to a different `CardPartsViewController` cont

[2018-06-30 03:11] croossin commented on #26
That would be great, @bornbrie ! Please keep us informed of your progress and let us know if you have any issues with CardParts.

[2018-07-02 17:27] croossin opened #63 "Remove TTTAttributedLabel"
In an attempt to remove as many dependencies as possible, we would like to move away from TTTAttributedLabel.

[2018-07-02 17:42] croossin opened #64 "Bump RxSwift and RxCocoa"

[2018-07-04 15:21] bornbrie opened #65 "CardPartCollectionView binding datasource throws error 'Generic parameter 'Self' could not be inferred'"
I am running into an issue binding my CardPartCollectionView datasource.

First I set up my model
[code]

Then I set up my `CardPartsFullScreenViewController` with an instance of the model, the collectionView CardPart, the layout for the collectionView, then I setup the collectionView with all these components.
[code]
I have been able to get my data from the server and map all the ui components to

[2018-07-04 15:59] lwdupont commented on #65
Well @croossin is a far better RxSwift person than I am, but guessing I wonder if you need to add self to collectionViewCardPart? Or maybe RxSwift doesn't like the data source being a local variable?

[2018-07-04 16:01] bharathmurs commented on #65
Hi @bornbrie,
Firstly thanks for trying CardParts 👍
If i understand the issue correctly, the closure for the datasource is not being called correct?
My first hunch with Rx experience is that since dataSource is a local variable to `setupCollectionView`
try defining `dataSource` as the class variable.

[2018-07-04 16:50] bornbrie commented on #65
Thank you sincerely for your responses!

It does make sense that the dataSource would get deallocated inside a method like that. I did as suggested and refactored the dataSource to a local variable, but still no dice.

Also, adding `self.` to `collectionViewCardPart.collectionView.rx.items(dataSource: dataSource)` didn't make a difference either. Mind you this is a swift compiler error and prevent

[2018-07-04 17:57] bharathmurs commented on #65
@bornbrie
Ah, a compiler error.!
I see the problem in your `CollectionViewModel` model definition while defining `products`.
You have `var products = Variable([Storefront.Product]())` and it has to be
`var products = Variable([SectionOfCollection]())`

and while creating section object

`let section = [ SectionOfCollection(header: "Products", items: model.products.value[section].items) ]`

Hope th

[2018-07-04 18:00] bharathmurs commented on #65
The error says `Self` could not be inferred. Because your dataSource was defined as `RxCollectionViewSectionedReloadDataSource<SectionOfCollection>`  but observing to products which was defined as `Storefront.Product`, hence the mismatch and the compiler was not able to infer the type passed.

[2018-07-05 17:28] croossin commented on #65
@bornbrie Did @bharathmurs answer help solve your issue?

[2018-07-08 21:44] croossin commented on #65
@bornbrie I will be closing this but feel free to open it back up if this didn't solve your issue!

[2018-07-08 21:44] #65 closed

[2018-07-09 20:41] croossin commented on #63
Completed with PR #66 and [v2.5.0](https://github.com/intuit/CardParts/releases/tag/2.5.0)

[2018-07-09 20:41] #63 closed

[2018-07-10 16:23] croossin commented on #64
After further discussion with @bharathmurs, we will keep the podspec set to `~>4.0` so that developers can use RxSwift 4.0 and greater.

[2018-07-10 16:23] #64 closed

[2018-07-12 05:38] pprevalon opened #67 "get superview of a card parts"
how can i get the superview of part in a card for example i have an image part i want to do imagePart.superview

[2018-07-12 17:39] bharathmurs commented on #67
@pprevalon  When are you trying to access `superview`? You should definitely be able to access `imagePart.superView` after `viewDidLoad` is complete, say in some call back or something.
However superView would be nil if you are trying to access while creating the cardParts in viewDidLoad.

What is the particular use case you are seeing the issue with?

[2018-07-12 17:49] pprevalon commented on #67
I did set it in in view didLoad but the parentView still came back nil, I have an imageview but i do not want to set the width i want it to constraint to left and right of the parent view.

[2018-07-12 17:56] bharathmurs commented on #67
@pprevalon Yeah in viewDidLoad if you try to access `parentView` it will comeback as `nil`.
You don't have to set width constraint. All cardparts do have their constraints set to its parent view.
Make use of `margins` on cardPart to define your constraints.

Ex: To set left and right constraints just try setting `imagePart.margins.left` and `imagePart.margins.right`.

[2018-07-12 18:05] pprevalon commented on #67
nice that worked out well by using margins thank you.

[2018-07-12 18:06] #67 closed

[2018-07-12 18:07] bharathmurs commented on #67
Glad that it worked. 👍
So, closing the issue.

[2018-07-17 14:43] croossin opened #68 "Add bindable attributedTitle to CardPartButtonView"
Be able to bind to attributedTitle.

[2018-07-17 14:47] #68 closed

[2018-07-18 12:41] Jinkeycode opened #69 "Why cards left and right margin missing?"
In your demo，I run it finding that the card has left and right margin, just like this:

![](https://raw.githubusercontent.com/Intuit/CardParts/master/images/mintCardParts.gif)

But the same code I copied to my project，the  left and right margin was missing, just like this:

![](https://raw.githubusercontent.com/Intuit/CardParts/master/images/turboCardParts.gif)

How should I code to has margin？

[2018-07-18 12:43] croossin commented on #69
Which CardPart are you using to try to mimic that behavior?
On Jul 18, 2018, 05:42 -0700, Jinkeycode <notifications@github.com>, wrote:

[2018-07-18 12:47] croossin opened #70 "Add documentation for CardPartTitleDescriptionView"
Need to have documentation for [CardPartTitleDescriptionView](https://github.com/intuit/CardParts/blob/master/CardParts/src/Classes/Card%20Parts/CardPartTitleDescriptionView.swift)

[2018-07-18 12:47] croossin commented on #69
@Jinkeycode Which CardPart are you using for this? These were [CardPartTitleDescriptionView](https://github.com/intuit/CardParts/blob/master/CardParts/src/Classes/Card%20Parts/CardPartTitleDescriptionView.swift).  Now looking at our docs, it seems we skipped over that on accident!  See issue #70 for details.  We will have documentation by EOD!

[2018-07-18 14:55] croossin commented on #70
Fixed in PR #71

[2018-07-18 14:55] #70 closed

[2018-07-18 14:56] croossin commented on #69
@Jinkeycode The [documentation](https://github.com/intuit/CardParts#cardparttitledescriptionview) as well as working code [example](https://github.com/intuit/CardParts/blob/master/Example/CardParts/CardPartTitleDescriptionViewCardController.swift) is now merged into master. Feel free to take a look and reopen if you have more questions!

[2018-07-18 14:56] #69 closed

[2018-07-18 15:33] bharathmurs commented on #69
@Jinkeycode If you mean by cell margins, then try setting cardCellMargins under CardPartsTheme.

[code]
and
`YourCardPartTheme().apply()`

This should give you left and right margins of 15 pts for the card.

Hope this helps.

[2018-07-19 06:37] Jinkeycode opened #72 "How to easily remove the card ?"
When I write the delete event in CardPartsViewController, how can I easily remove the specified card ( actually CollectionViewCell ) in CardsViewController ?

[2018-07-22 02:57] pprevalon opened #73 "how can i update from async"
I want to decide what card depending on what result i get from an async result but when i attempt to change nothing happing here is my current async code

GMSPlacesClient().lookUpPhotos(forPlaceID: place!.placeID) { (dataList, error) in
            if error != nil {
                print(error!)
                return
            }
            if let result = dataList?.results {
                if

[2018-07-23 14:46] croossin commented on #72
What do you mean by the delete event in `CardPartsViewController`? If you want to remove a card, you can use [CardStates](https://github.com/intuit/CardParts#card-states) to chose which cards are showed given the current state.

[2018-07-23 14:47] croossin commented on #73
@pprevalon Hi! Thanks for checking out CardParts. Do you mind formatting your comment so that the all of the code is in a codeblock? It will make it easier for us to help you!

[2018-07-25 00:42] Jinkeycode commented on #72
Just Like the slide left to delete or edit in tableview

[2018-07-25 18:10] croossin commented on #72
There is no "swipe" per se.  You can have a CardPartTableView and allow the cells to swipe but each CardPart has no "swipe" functionality.  If that didn't answer the question, feel free to open again!

[2018-07-25 18:10] #72 closed

[2018-07-30 20:34] Helen-Xu opened #76 "Add an method to modify distribution"
The current distribution mode is set to equalSpacing, which is nice for some cards. However, it's preventing me from placing a cardPart at a certain position. Is it possible to add an function like modifyDistribution to switch distribution to .fill, so that cardParts will be placed according to margins?

[2018-07-30 20:35] lwdupont commented on #76
@croossin I asked Helen to post this, she's working on our Turbo team right now. :)

[2018-07-30 20:51] bharathmurs commented on #76
@PenguinRAD What does it mean by placed according to margins?
Current setupCardParts does place the cardParts as per the margins. Can you give an example with an image?

[2018-07-30 22:41] bharathmurs commented on #76
After talking to @PenguinRAD, we will take a look at the implementation of `CardPartCollectionViewCardPartsCell` so that the spacing b/w the elements adhere to the margins set.

[2018-07-30 22:41] lwdupont commented on #76
Feel free to ask her to do it too :)

[2018-07-31 17:36] croossin commented on #73
@pprevalon I will close this issue... but feel free to reopen if you need help still!

[2018-07-31 17:36] #73 closed

[2018-08-02 03:13] croossin commented on #76
@bharathmurs @Helen-Xu Was this completed by #77 ?

[2018-08-02 03:14] lwdupont commented on #76
Yup.

[2018-08-02 03:15] croossin commented on #76
Closing since completed by #77

[2018-08-02 03:15] #76 closed

[2018-08-10 11:35] Alex293 opened #80 "Example binding /scroll bug"
Hi,

I'm wondering why the reactive binding is paused when one scroll in the example.
To easily reproduce it just over scroll at the bottom and all the reactive bindings are paused.
It also blinks I thing when you let it go. I didn't tried this on real device, so it may be a simulator only issue.

[2018-08-10 11:39] Alex293 opened #81 "iPad"
Does this lib have iPad support on the roadmap ? (like different collection layout)

[2018-08-12 14:00] Alex293 opened #82 "Inset calculation bug in CardsViewController"
Hi,

If you run the demo on iOS 11 there is an inset on the collection view at the bottom of the size of the tabbar but not on iOS 10. I've looked at the code and in CardsViewController.viewDidLoad() constraint for the collection view are set not relatively to the safe area and with a tabbar height constant. So this cause the difference between iOS 11 and 10. This also cause a small difference at

[2018-08-12 14:02] Alex293 opened #83 "iOS 9 support"
Hi,

Is there a reason not to support iOS 9 ? I've tried to enable it and I had no issue (except theme fonts but one could make the base theme use system fonts). In the code at some place you check for iOS 10 availability so I guessed it was supported before ?

[2018-08-14 21:08] croossin commented on #83
We tend to support the current OS version and the previous one only.

[2018-08-14 21:08] #83 closed

[2018-08-27 07:17] baryon commented on #69
How can get this example code like your screen gif?

[2018-08-28 02:08] baryon opened #84 "cardCellMargins.top don't works"
I set cardCellMargins top to want add space, but it don't works
[code]
![simulator_screen_shot_-_iphone_7_-_2018-08-28_at_11_03_22](https://user-images.githubusercontent.com/421757/44696375-4e569d80-aab2-11e8-91d3-850702c150c0.png)

[2018-09-01 07:46] wousser commented on #10
+1

[2018-09-02 07:27] st34m3dr1c3 opened #85 "Using custom card (with embedded view + autolayout) freezes unless CardCellMargins left/right not set to 0"
I am using a custom card that has a chart embedded inside. This will cause the app to freeze unless I set the left and right margins to nonzero in the card controller, e.g.:
[code]

See custom card below:

[code]

[2018-09-02 18:34] st34m3dr1c3 commented on #85
I'd also like to add that making the chart the CardPart (instead of creating a general UIView CardPart and embedding the chart inside) also creates the same problem. Works fine on the default Mint theme in which the left and right insets are nonzero, but will freeze on the Turbo theme where the left and right insets are zero.

[code]

See the resulting chart implementation in the CardsViewControll

[2018-10-08 05:33] eyzuky opened #89 "Add card without reloading all cards"
Hi all!
First, thanks for the great lib.
I want to dynamically add and remove cards. Is there a way to add a card without triggering a reload to the whole collectionView?
Using loadCards calls setCardsController which firstly removes all cards from the array.. These cards might have work in progress that I don't want to be reloaded..

Thanks!

[2018-10-10 13:05] kdsaft opened #91 "Trouble running the example project"
I'm having trouble building the example project.

I cloned the repo, installed the pod from within the Example directory, switched the signing, opened from the workspace....all good. When I go to build, however, I get this issues:

`'_lock' is inaccessible due to 'private' protection level
`
in **RxSwift/extension DisposeBag**

I tried to update the project to 4.2, but that caused additional issue

[2018-10-10 14:16] bharathmurs commented on #91
@kdsaft It might seem like your RxSwift target might be building on swift 3. Can you double check and make it build against swift 4 and try?

[2018-10-10 14:32] bharathmurs commented on #84
@baryon Firstly sorry for the delayed response.

`cardCellMargins`'s top and bottom was intended for top and bottom margins within the cell.
However, for your question on "How add space?", you can achieve that by setting contentInset on the collectionView on your `CardsViewController`.

Like say,
`self.collectionView.contentInset.top = 50.0`

[2018-10-10 14:36] #89 closed

[2018-10-10 15:49] kdsaft commented on #91
@bharathmurs: you're a genius! Thank-you. :-)

[2018-10-10 15:49] croossin commented on #91
Thanks @bharathmurs for helping out @kdsaft.  Let us know if you have any more questions, @kdsaft  👍

[2018-10-10 15:49] #91 closed

[2018-10-11 01:09] baryon commented on #84
thanks

[2018-10-11 01:09] #84 closed

[2018-10-19 01:48] pprevalon opened #99 "Is the pull down view availaible on this version."
I see the preview video have a pulldown view does this version have the pull down view also.

[2018-10-19 03:57] bharathmurs commented on #99
@pprevalon Unfortunately it doesn't come out of the box. However, you could achieve it similar design by adding subviews playing with contentOffset etc..

[2018-10-19 03:57] #99 closed

[2018-10-25 07:27] eyzuky opened #100 "Layout issue: "contentView of collectionViewCell has translatesAutoresizingMaskIntoConstraints false and is missing constraints to the cell""
I see this in the console using the code provided (all from the example project):

[Assert] contentView of collectionViewCell has translatesAutoresizingMaskIntoConstraints false and is missing constraints to the cell, which will cause substandard performance in cell autosizing. Please leave the contentView's translatesAutoresizingMaskIntoConstraints true or else provide constraints between the con

[2018-10-25 08:29] eyzuky commented on #100
and this is by just running the provided example project as is:

ℹ️ [DEPRECATED] `Variable` is planned for future deprecation. Please consider `BehaviorRelay` as a replacement. Read more at: https://git.io/vNqvx
2018-10-25 11:23:12.641765+0300 CardParts_Example[7707:1761463] [Assert] contentView of collectionViewCell has translatesAutoresizingMaskIntoConstraints false and is missing constraints to

[2018-11-07 20:09] itadreik4 opened #101 "Example gives 13 errors in Swift 4 in Xcode 10+"
When I open the example project and build it, I get 13 errors. I am using Swift 4.2.1 in XCode 10.1. All I did was load up the example project and "pod install" with the terminal. It installed 6 pods, then I rebuilt the project. Build fails with 13 errors.

[2018-11-12 22:12] OlionCompany commented on #101
@itadreik4 I have, same errors...
How I resolved problems:
Go to "Pods" -> Build Settings -> Search SWIFT_VERSION -> setup Swift 4.0 for all targets with Swift 3.0.

[2018-11-12 22:56] lwdupont commented on #101
Ya, we'll see if we can get a Swift 4.2 release out this week sometime.

[2018-11-26 19:11] lwdupont commented on #101
I just released this to cocoapods.

[2018-11-26 19:17] #101 closed

[2018-11-29 11:41] PrashantKT opened #105 "XCode 10 Example not compiling"
I have downloaded zip file then in Example folder  i have fired pod install.

Still getting following error

 /Users/prashant/Downloads/CardParts-master/Example/Pods/Pods/Target Support Files/Pods-CardParts_Example/Pods-CardParts_Example.debug.xcconfig: unable to open file (in target "CardParts_Example" in project "CardParts") (in target 'CardParts_Example')

and

 /Users/prashant/Downloads/CardPa

[2018-11-29 12:15] PrashantKT commented on #105
Okay so gem install cocoapods --pre fixes the issue If any one has same issue .

[2018-11-29 17:08] lwdupont commented on #105
Ya, it was a decision by the team to need to run that in order to run the example. Sounds like we could improve the docs. Do a pull request? :)

[2018-11-29 17:08] #105 closed

[2018-12-08 09:03] kamokaizen commented on #100
firstly appreciate to create such a good framework guys. i used the cardparts framework in my application and build some tables and collection views. Same logs on my console.

[Assert] contentView of collectionViewCell has translatesAutoresizingMaskIntoConstraints false and is missing constraints to the cell, which will cause substandard performance in cell autosizing. Please leave the contentView

[2018-12-17 23:45] ppbpdx opened #106 "Help Wanted: Having Issue Building Examples"
Hi I was wondering if you can point me in the right direction. I downloaded the project and in the /examples directory ran 'pod install' it seemed to install the necessary pods, however, when I try to build the project I get a number of errors including on the MainViewController it says it cannot find CardParts to import.

Should I run the pod install at a different level and not in the examples d

[2018-12-17 23:50] lwdupont commented on #106
It's been a while since I've tried the instructions, but I don't think they've changed.

Try this line, should work? https://github.com/intuit/CardParts#example

[2018-12-18 13:39] SebastianBO commented on #10
Any update?

[2018-12-19 21:45] CarioniStefano commented on #106
Same here, downloaded the example, run 'pod install' but there is no way to get it run.
I get these errors
![image](https://user-images.githubusercontent.com/12976725/50249958-d05f2f00-03df-11e9-9e23-17625882bdbd.png)

[2018-12-19 21:46] lwdupont commented on #106
Hmm.. @croossin @bharathmurs any ideas?

[2018-12-19 21:48] CarioniStefano commented on #106
'gem install cocoapods --pre'

running this before 'pod install' fix the issues, I think you need to add it to the readme 👍

[2019-01-03 07:19] dziedziela commented on #100
Hi all, has anyone resolved this issue yet?

[2019-01-05 15:06] kamokaizen commented on #100
currently, i cant resolve it :/

[2019-01-07 01:16] hawkfalcon commented on #100
I still have this issue.

[2019-01-13 22:17] #106 closed

[2019-01-13 22:25] ppbpdx opened #108 "Help Wanted: Spacing on CardPartPagedView"
I am trying to get the paged cards (CardPartPagedView) to fill the sides of the screen without a white space. On the other cards I can use the margins and set them to 0 and that seems to work, however, I cannot figure out how to do it in the CardPartPagedView.

Any pointers greatly appreciated.

![space](https://user-images.githubusercontent.com/5177162/51091394-07a2d080-173f-11e9-924f-423f823b7f1

[2019-01-17 13:52] barcister commented on #108
You need to modify this value in order to change that: CardParts.theme.cardPartMargins

[2019-01-22 00:49] asontha opened #109 "Scroll on CardPartStackView"
Is it possible to have a CardPartStackView that scrolls? Or is that only possible for CardPartTableView's and CardPartCollectionView's? What happens if we have to stack data of different types? For example images interspersed with text.

[2019-01-31 13:16] sasquatchgit opened #110 "How do I get `cardClicked` callback?"

[2019-02-02 12:15] sasquatchgit commented on #35
Hi!
Could you figure out how to do this?
I am trying to get callback on clicks and not sure how to do it.

[2019-02-06 06:36] k3street commented on #110
I wasn’t trying to be a jerk, the base class has a cardtapped function that is accessible when you instantiate the class and a long press tap gesture recognizer.

Get Outlook for iOS<https://aka.ms/o0ukef>

________________________________
From: Saurabh <notifications@github.com>
Sent: Tuesday, February 5, 2019 9:28 PM
To: intuit/CardParts
Cc: Kimate Richards; Mention
Subject: Re: [intuit/CardPart

[2019-02-06 06:42] sasquatchgit commented on #110
Hey @k3street , sorry if it came that way. I was trying to say that I am noob, and even after reading the readme, I wasn't able to figure how to use it. I would be really thankful if someone could put an example on how to achieve it. And thanks for taking your time and trying to help me.

[2019-02-06 08:14] sasquatchgit commented on #110
Should I override the function to use it?

[2019-02-06 13:57] matelo opened #111 "Card sequence change"
Would it be possible to implement card reordering? For example, on user long press, you can move the card on different position.

[2019-02-06 16:09] croossin commented on #110
Thank you @k3street for trying to explain, much appreciated!

@sasquatchgit If you take a look at [Clickable Cards documentation](https://github.com/intuit/CardParts#clickable-cards) you can see how we achieve that! So in your CardViewController you just simply need to add:
[code]

and then those handlers will be called!  Please feel free to reopen if that does not answer your question.

[2019-02-06 16:09] #110 closed

[2019-02-06 16:11] croossin commented on #111
You can manually reorder cards by recalling `loadCards(cards: cards)`.  Currently, we do not have any built-in long press moving support.

[2019-02-06 16:11] #111 closed

[2019-02-06 16:13] croossin commented on #108
@ppbpdx You can update margins and spacing via the theme 😄

[2019-02-06 16:13] #108 closed

[2019-02-15 00:07] jem5519 commented on #100
I have the same issue. Trying now to sort through it. Has anyone made any progress on this?

[2019-02-15 00:23] bharathmurs commented on #100
It will be taken care by the PR https://github.com/intuit/CardParts/pull/116.
Thanks to @sebastienba. 👍

[2019-02-15 15:52] croossin commented on #100
Hi all, thanks for your patience with this one.  It has now been fixed as @bharathmurs mentioned in PR #116 and released in [2.7.4](https://github.com/intuit/CardParts/releases/tag/2.7.4).

[2019-02-15 15:52] #100 closed

[2019-02-15 17:36] jem5519 commented on #100
I just downloaded 2.7.4 and tried it. Still getting lots of the following:

2019-02-15 12:33:35.534136-0500 CardParts_Example[5981:864254] [Assert] contentView of collectionViewCell has translatesAutoresizingMaskIntoConstraints false and is missing constraints to the cell, which will cause substandard performance in cell autosizing. Please leave the contentView's translatesAutoresizingMaskIntoCons

[2019-02-15 17:37] jem5519 commented on #100
iOS 12.1

[2019-02-15 17:38] dziedziela commented on #100
Did you do a clean build?

[2019-02-15 17:41] jem5519 commented on #100
It was a new project, but for laughs and grins I tried cleaning and rerunning - same results.

[2019-02-15 17:43] jem5519 commented on #100
Looking at CardsViewController.swift with breakpoint set - code has your latest changes and is getting executed.

[2019-02-15 22:07] thunpisit opened #117 "Use of unresolved identifier Variable("")"
I'm new to CardParts and I'm playing with it to implement it to my app. For some reason, my Xcode does not recognize Variable("") and yelling Use of unresolved identifier Variable("")

    var title = Variable("")
    var text = Variable("")

    init() {

        // When these values change, the UI in the TestCardController
        // will automatically update
        title.value = "Hello, world!

[2019-02-15 22:11] thunpisit commented on #117
#helpwatnted

[2019-02-15 23:19] lwdupont commented on #117
You might be missing doing:

import RxSwift
import RxCocoa

CardParts includes that as a dependency in the Cocoapods spec, but you do need to include it if you are going to use it in a (what looks like) a subclass.

[2019-02-16 15:32] jem5519 commented on #100
Hi,

I have  attached a screen capture to show what I am experiencing. This is a fresh download of the .zip file of the latest release. I am using AppCode to run this but the same thing happens in Xcode.

Not only are the constraints having issues, there appears to be code looping trying to invalidate/retry the layout while the app is sitting idle.

I have GoToMeeting if you would like to get toge

[2019-02-16 15:40] jem5519 opened #118 "Still having issues with layout constraints after #100 closed."
Pulled down version 2.7.4.

layout constraints still seem to be showing up. But, now the app appears to be be trying to invalidate the layout and retrying. Note in the video that the error messages continue to appear in the console event the ought the app appears to be idle.

https://www.dropbox.com/s/tc588wc2wtt14dx/CardParts.mp4?dl=0

[2019-02-16 19:40] bharathmurs commented on #118
Hi @jem5519,
We have taken care of the issue with this PR https://github.com/intuit/CardParts/pull/119.

[2019-02-16 19:42] jem5519 commented on #118
In fairness, can we refrain from “closing” an issue until the person who opened it gets a chance to TEST it?

[2019-02-16 19:44] croossin commented on #118
Sure, @jem5519, we can do that.

[2019-02-16 19:45] jem5519 commented on #118
Thanks.

Where can I pull down a copy of the fixed source?

- Jim

From: Chase <notifications@github.com>
Reply-To: intuit/CardParts <reply@reply.github.com>
Date: Saturday, February 16, 2019 at 14:44
To: intuit/CardParts <CardParts@noreply.github.com>
Cc: Jim Malak <Jim.Malak@beryle-lee.com>, Mention <mention@noreply.github.com>
Subject: Re: [intuit/CardParts] Still having issues with layout cons

[2019-02-16 19:48] bharathmurs commented on #118
@jem5519 If you are check the branch `bug/fix_autolayout` until we merge and do a release.

[2019-02-16 20:34] jem5519 commented on #118
Thank you for all your efforts, bharathmurs! I did pull it down and the console is clean! Please close this issue.

[2019-02-17 10:02] Slethael opened #120 "[help wanted] Example doesn't build"
Hi there,

First of all, I'd like to point out that I'm still a noob in Swift development and I struggled installing this Pod but existant issues here helped me until now.

I try to make the first example in the readme work in a very simple workspace, but the two lines above give me an error :
[code]
The errors:
[code]

Xcode : 10.1 (10B61)
Swift: 4.2
Target deployment: iOS 11

Is there anyone hav

[2019-02-18 19:12] thunpisit commented on #117
@lwdupont Thank you so much, that eliminate the problem with variable but now I am facing another problem which yelling: Value of type 'CardPartTextView' has no member 'reactive' on each of these both lines.

        viewModel.title.asObservable().bind(to: titlePart.reactive.title).disposed(by: bag)
        viewModel.text.asObservable().bind(to: textPart.reactive.text).disposed(by: bag)

[2019-02-19 04:43] thunpisit commented on #120
I am currently have the same issues https://github.com/intuit/CardParts/issues/117

[2019-02-19 16:26] croossin commented on #120
@Slethael @thunpisit We will take a look at these right now. Stand by

[2019-02-19 16:42] croossin commented on #117
@thunpisit Whoops! It seems that the README has some old code in it... Instead of `titlePart.reactive.title` it should be `titlePart.rx.title`! Thanks for that catch and I will go ahead and update the README.

[2019-02-19 16:47] croossin commented on #117
Have merged PR #121 - thanks again for the catch @thunpisit !

[2019-02-19 16:47] #117 closed

[2019-02-19 16:50] croossin commented on #120
@Slethael Thanks to @thunpisit we found that we had a little type in our README! Instead of `.reactive.` it should have been `.rx.`.  We have gone ahead and updated the README and it should be correct now.  Thanks again.

[2019-02-19 16:50] #120 closed

[2019-02-19 16:56] #41 closed

[2019-02-19 17:18] lwdupont commented on #10
I'll look at this today sometime, sorry for the delay.

[2019-02-19 17:47] croossin commented on #118
Closing this issue as fixed by version [2.7.5](https://github.com/intuit/CardParts/releases/tag/2.7.5).

[2019-02-19 17:47] #118 closed

[2019-02-19 17:47] croossin commented on #120
Fixed by version [2.7.5](https://github.com/intuit/CardParts/releases/tag/2.7.5).

[2019-02-19 17:48] croossin commented on #117
Fixed by version [2.7.5](https://github.com/intuit/CardParts/releases/tag/2.7.5).

[2019-02-20 22:53] lwdupont commented on #10
So, I had a look yesterday when I fixed up the Travis build - looks like we'll need to re-structure the project, as Carthage support means having a framework target. Right now the entire structure is build around Cocoapods (ie. there is no Xcode project to build the framework).

Not a lot of work I'd say, but a biggish change. @croossin @bharathmurs thoughts?

[2019-03-07 04:10] elgrandt opened #124 "Ignoring theme top inset when using keyboard"
When the keyboard opens you loose the configured cardsViewContentInsetTop in theme, the bug is in the next line:
https://github.com/intuit/CardParts/blob/cd8f0a5a67c0f62a52959e1c21443286b71e5043/CardParts/src/Classes/CardsViewController.swift#L354
Consider adding the theme value to the top parameter of the call.

[2019-03-10 15:41] WingCH opened #125 "Does not display the style of the Card"
1. Create project on Xcode
2. https://github.com/intuit/CardParts#installation (current version:2.7.2)
3. copy and paster using example code

[code]

![image](https://user-images.githubusercontent.com/19588517/54087569-1ac4cc00-438f-11e9-91bf-d41f2e723724.png)

I have checked again, but I can't find the reason.
Can someone help me? Please

[2019-03-11 03:13] WingCH commented on #125
i have find the problem.
missing `CardPartsMintTheme().apply()` in **AppDelegate.swift**
Suggested update Readme -> Quick Start

[2019-03-11 11:44] WingCH opened #126 "use navigation navigation controller"
![IMG_2065](https://user-images.githubusercontent.com/19588517/54121588-d4767800-4435-11e9-8cb4-1c88ada2f20c.jpg)

How to make the card view and bar has a spacing?

[2019-03-12 03:38] WingCH commented on #126
i have find the solution
`self.collectionView.contentInset.top = 5`

[2019-03-12 19:53] croossin commented on #126
Great! Let us know if there is anything else you need help with.

[2019-03-12 19:53] #126 closed

[2019-03-12 19:56] croossin commented on #125
We will consider adding that, however, we don't want to apply a specific theme for all examples. Thanks for the tip and we will take it into consideration!

[2019-03-12 19:56] #125 closed

[2019-03-26 15:50] SebastianBO commented on #10
Ok thanks, would be very appreciated!

[2019-03-30 10:06] Slethael opened #128 "[help wanted] Problem with Layouts"
Hi everyone !

I am currently building a custom app for my little sister to help her get better at mental calculation, but I'm stuck at the very early stages..

I want it to be a bit appealing, and I find the design of the Mint application beautiful, so I want to re-create something like this.

I tried several things but the image I add still resize, independently of the constraints I add.

Basica

[2019-03-30 20:01] bharathmurs commented on #128
@Slethael,
I see issues in laying out the constraints with test and imagePart is adding a constraint of 250.

You might want to try getting rid of all those constraints and add these
[code]

[2019-04-01 07:41] Slethael commented on #128
Hello @bharathmurs,

I tried what you told me to do. Seems like the height of the picture is now set but the width is still resized, like so : [width resized](https://imgur.com/a/CrxTIp8)

I got rid of all of the constraints, except the one setting the height of the superview.

Thanks for your help :)

[2019-04-01 14:19] bharathmurs commented on #128
You might want to set
imagePart.contentMode = .scaleAspectFit

[2019-04-01 14:42] Slethael commented on #128
Yay, that was it !

I see that this is a vanilla Swift enum, I seriously lack some basics Swift development ...

Thank you for your help !

[2019-04-01 14:46] bharathmurs commented on #128
Gret. Thanks @Slethael. I will be closing the issue then.

[2019-04-01 14:46] #128 closed

[2019-04-10 18:42] juliusbtesh opened #129 "CardPartTableViewCardPartsCell has Constraint Issues"
I tried using the sample code from here to form a custom table view cell and I am getting a lot of errors like this

`[LayoutConstraints] Unable to simultaneously satisfy constraints.
	Probably at least one of the constraints in the following list is one you don't want.
	Try this:
		(1) look at each constraint and try to figure out which you don't expect;
		(2) find the code that added the unwante

[2019-04-12 19:58] scjc opened #130 "Swift 5 and Xcode 10.2 support?"
When can we expect support for swift 5?

[2019-04-12 20:46] lwdupont commented on #130
I'll take a crack at it this weekend @croossin @bharathmurs if that's cool with you. (I'm on call for work so will be at work Saturday morning, sounds like a fun project :))

[2019-04-13 16:54] vicxruiz opened #131 "Change background color [Help Wanted]"
How can i change the background color from gray to white?

[2019-04-13 18:47] croossin commented on #131
Hi @vicxruiz - which background color are you referring to? The cards background color? The collection views background color?

[2019-04-13 18:47] croossin commented on #130
@scjc Feel free to take a look at the PR @lwdupont opened up - #132.

[2019-04-13 18:52] scjc commented on #130
@croossin @lwdupont thanks for the update!

[2019-04-13 19:06] vicxruiz commented on #131
@croossin the collection view

[2019-04-14 19:24] lwdupont commented on #130
Published to Cocoapods:

--------------------------------------------------------------------------------
 🎉  Congrats

 🚀  CardParts (2.8.0) successfully published
 📅  April 14th, 12:21
 🌎  https://cocoapods.org/pods/CardParts
 👍  Tell your friends!
--------------------------------------------------------------------------------

[2019-04-14 19:24] #130 closed

[2019-04-15 18:15] croossin commented on #131
You can simply change the collectionView background color in your `CardsViewController` by doing the following: `self.collectionView.backgroundColor = .purple`.

Let me know if this does not satisfy your question!

[2019-04-15 18:15] #131 closed

[2019-04-15 18:45] croossin opened #134 "Move to BehaviorRelay and get rid of deprecated Variable"
RxSwift has moved away from `Variable` and gone to `BehaviorRelay`:
[code]

[2019-04-16 14:56] croossin commented on #134
Fixed in PR #135 - will go out in 2.9.0 release soon.

[2019-04-16 14:56] #134 closed

[2019-04-16 16:07] croossin commented on #124
Thanks for the catch, @elgrandt.  This was fixed in #136 and will be released in 2.9.0

[2019-04-16 16:07] #124 closed

[2019-04-16 16:08] croossin commented on #81
We currently do not have any iPad support on the roadmap but will certainly update this issue when we begin that planning process.

[2019-04-16 16:08] #81 closed

[2019-04-17 16:42] scjc opened #138 "Change background colour of View Controller"
So have a normal view controller which loads up with `loadCards(cards: cards)`(similar to the example's `MainViewController.swift`)

 I would like to change the background colour. I have tried changing it in storyboards and also using `self.view.backgroundColor = UIColor(red:0.21, green:0.21, blue:0.21, alpha:1.0)` in the `viewDidLoad()`

However, neither has worked and I'm not really sure how els

[2019-04-17 17:58] croossin commented on #138
If you take a look at issue #131 you will be able to understand how to change the background color.  Let me know if that does not solve your issue.

[2019-04-17 17:58] #138 closed

[2019-04-17 18:15] scjc commented on #138
I believe that is more targeted towards the card it self, I meant the entire view's background colour which hold all the cards (CardsViewController)

[2019-04-22 15:13] bradenboothby opened #139 "Swipe Cards With Haptic"
How do I get the cards to swipe left and right like the Mint app with haptic feedback? Please drop code if you can.

[2019-04-25 20:55] croossin opened #141 "CardPartTitleDescriptionView should have attributed field for both left and right titles"
We have attributed properties for both the left and right description labels, but not for the titles.  We should have these included.

[2019-05-06 17:20] juliusbtesh opened #143 "Collapsable Card Parts"
Is it easy to implement a collapsable/expandable card part using what we have here?

[2019-05-09 13:59] croossin commented on #141
This was fixed in [2.10.10](https://github.com/intuit/CardParts/releases/tag/2.10.0)

[2019-05-09 13:59] #141 closed

[2019-05-09 14:00] croossin commented on #139
ScrollView that contained multiple [CardsViewController](https://github.com/intuit/CardParts#cardsviewcontroller) and then used haptic feedback when the scroll ended.

[2019-05-09 14:00] #139 closed

[2019-05-09 14:03] croossin commented on #143
You may use the idea of [CardStates](https://github.com/intuit/CardParts#card-states) in order to set different CardParts for different states.  So you may have an `opened` state and a `closed` state and when you change in between it will set the currently visible CardParts to whatever you have inputted for that selected state.  Let me know if you still need help or if that pointed you in the corr

[2019-05-09 14:03] #143 closed

[2019-05-09 14:05] juliusbtesh commented on #143
Thanks! I will look into this

[2019-05-13 00:11] thunpisit opened #144 "Use of unresolved identifier 'BehaviorRelay"
Hi, I tried the quick start part. The import of CardParts and everything build fine except it giving me an error on these two which yelling: **Use of unresolved identifier 'BehaviorRelay'**

[code]

In Podfile I have !framework on so it shouldn't be any problem downloading the required frameworks for it. Just curious how to fix this error?

[2019-05-13 00:18] croossin commented on #144
Can you try running `pod install —repo-update`? Reply back with which version of each framework it downloaded when that completes if it didn’t fix the issue.

[2019-05-13 00:24] thunpisit commented on #144
I did it and still ran into the same problem, here's the framework version.

[code]

[2019-05-13 00:30] croossin commented on #144
Hmm. Which version of Xcode are you running? Swift version?

[2019-05-13 03:00] thunpisit commented on #144
I'm running XCode 10.2.1 (10E1001) with Swift 5

[2019-05-14 16:07] croossin commented on #144
@thunpisit Does the example project work for you on your machine?

[2019-05-14 16:54] juliusbtesh commented on #143
@croossin So I gave this a try and it is a bit weird how it seems to be working.

First : It doesnt seem like I can reuse the same card part from a different state (Unless Im just not setting it properly)
Second : Is there an easy way to get an animation like the card "expanding"/"collapsing" - At the moment when I switch states it just displays the "expanded" card but it seems very weird.

Thanks

[2019-05-20 02:40] AdrianBinDC commented on #144
I've bumped into this issue with another project that utilizes `BehaviorRelay`. I tried it in Xcode 10.1 as well.

[2019-05-23 20:38] l0serking commented on #144
I had the same issue. With the file that uses `BehaviorRelay`, import `RxCocoa`.
That fixed my problem.

[2019-05-23 20:44] croossin commented on #144
Great catch, @l0serking .  Shall we include that in all of the examples on the README? Probably would make it more understandable, but crowd the examples as well.  Thoughts? @thunpisit @AdrianBinDC

[2019-05-23 21:01] thunpisit commented on #144
@croossin That actually works, and yes I would recommend adding import RxCocoa to the ReadMe because people that want to try the example code can actually run it.  Thank you @l0serking for spotting it.

[2019-05-23 21:17] croossin commented on #144
Sounds good to us.  You can see the changes in PR #145 -- thanks again for the catch @l0serking !

[2019-05-23 21:17] #144 closed

[2019-05-23 21:19] lwdupont commented on #144
Yes, thanks!!

[2019-06-25 14:06] NWilliamsonWalsh opened #147 "Resize button"
I'm trying to make a button with a border that isnt the same width as the card.
I've tried:

`buttonView.widthAnchor.constraint(equalToConstant: 64.0).isActive = true

it doesn't seem to have any affect.

[2019-07-05 20:39] Yonodactyl commented on #147
Hey @NWilliamsonWalsh is there any chance that you aren’t calling the button to `LayoutIfNeeded()`?

[2019-07-15 16:22] hoidofyolen opened #148 "CardPartTableView doesn't have a top margin, even when manually set"
Hi,

When working with a single `CardPartTableView`, I would expect there to be a top margin of about 10.0 or so, but there is no margin. In the documentation it states that cards have a default margin all around them, but that doesn't seem to be true for the top margin of the first card in the view. As a result, this is what it looks like:
![image](https://user-images.githubusercontent.com/393382

[2019-07-19 13:23] zzpase opened #149 "How to change Background color in CardViewController?"
How to change Background color in CardViewController?
- always gray

[2019-07-22 15:09] pongponglau opened #150 "Scroll load more cards"
May i ask how i can load more cards (i.e. infinite scrolling) with this great card library?

Many thanks

[2019-07-22 21:44] zacgibson21 opened #151 "Clickable CollectionView [Help Wanted]"
I can not for the life of me get the click function working on a collectionView. I have tried adding  the below close to both my cell class and the main view controller with no luck.

CardPartCollectionViewDelegte {
    func collectionView(_ collectionView: UICollectionView, didSelectItemAt indexPath: IndexPath) {
        print("Please Print!!")
    }

Any advice would be appreciated

[2019-07-27 21:39] jpjk commented on #151
Have you assigned the delegate property of the collection view in question?
A structure something like:

[code]

[2019-07-29 23:30] nvonahsen opened #152 "Memory leak on hidden cards"
Hey, I’m using cardparts in a current project and ran into an issue where old CardViewControllers were continuing to exist and causing crashes because I was clearing the data they were accessing.

Pretty sure the issue is line 140 in CardsViewController when using hidden traits
[code]
Far as I can tell the [weak self] should be on the outer .subscribe, changing to this and recompiling seemed to fi

[2019-07-31 21:52] croossin commented on #152
This is very interesting... let us take a look into this.  We are planning a release sometime this week so we can include this fix if necessary.  Thanks @nvonahsen !

[2019-07-31 21:53] croossin commented on #150
You may call `loadCards(cards:)` with a new array of cards.

[2019-07-31 21:53] #150 closed

[2019-07-31 21:54] croossin commented on #151
@zacgibson21 Have you solved this yet? Or are you still having trouble?

[2019-07-31 21:58] croossin commented on #149
`self.collectionView.backgroundColor = UIColor.purple`

[2019-07-31 21:58] #149 closed

[2019-07-31 21:59] croossin commented on #148
@hoidofyolen Can you attach a screenshot of the debug view hierarchy? Are you still facing this issue?

[2019-07-31 22:00] croossin commented on #147
@NWilliamsonWalsh Are you still facing this issue?

[2019-07-31 22:41] croossin commented on #152
Also, we would love to hear of any apps that use CardParts in production... so feel free to let us know and we can add your app to the README @nvonahsen ! 👍

[2019-08-01 01:40] hoidofyolen commented on #148
Yes, still seeing this issue. Is this what you mean by debug view hierarchy? It's the only place I know that has debug information without hitting a breakpoint.
![image](https://user-images.githubusercontent.com/39338264/62259273-c4a70280-b3db-11e9-865e-7657a6da03ae.png)

[2019-08-01 01:54] hoidofyolen commented on #148
Nevermind, I found it. Here's what I think is the culprit constraint:

![image](https://user-images.githubusercontent.com/39338264/62259838-c1ad1180-b3dd-11e9-8a35-a8bbc8c63b2d.png)

[2019-08-01 02:04] croossin commented on #148
Very interesting... let me take a look and get back to you!

[2019-08-01 02:19] croossin commented on #148
@hoidofyolen If you clone this repo and run the example app and in `MainViewController.swift` comment out all of the cards except for the `CardPartTableViewCardController()` and run, do you still see the same issue? Maybe this is only happening for ViewControllers pushed on the navigation stack.

[2019-08-01 02:23] croossin commented on #109
CardPartStackView is just a wrapper for a stackview which only helps format and layout your views.

[2019-08-01 02:23] #109 closed

[2019-08-01 02:24] badrinathvm commented on #148
@hoidofyolen i am looking in to this issue,  u can add a `CardPartSpaceView(height:10)` and then add the `CardPartTableView` in the navigationController. some thing like below

`setupCardParts([CardPartSpaceView(height:10),CardPartTableView() ])`

[2019-08-01 02:47] badrinathvm commented on #148
@hoidofyolen just did a sanity check , works as expected , see the below code and attached screenshot.
[code]
![Simulator Screen Shot - iPhone X - 2019-07-31 at 19 44 44](https://user-images.githubusercontent.com/1479179/62261998-0b8cfc00-b3cc-11e9-8dd3-5910df0d71f5.png)

[2019-08-01 03:09] hoidofyolen commented on #148
When I implemented your line `cardPartTableView.margins.top = 120.0`, I got this:
![image](https://user-images.githubusercontent.com/39338264/62262598-44869a00-b3e7-11e9-8b80-81c69a0a5ec4.png)

I _am_ able to supplement the space in the top margin by using the spacer view. This is how I did it:

[code]

[code]

[2019-08-01 03:20] badrinathvm commented on #148
@hoidofyolen is your solved ?

[2019-08-01 05:25] badrinathvm commented on #147
@NWilliamsonWalsh , below is the way to do it.
1. Create a stack view, provide layout Margins for it
2. Embed the button inside stackedView.

Below is the code

[code]

[2019-08-01 05:27] badrinathvm commented on #129
@juliusbtesh  can you paste ur code snippet which helps us to debug the issue quicker.

[2019-08-01 12:56] hoidofyolen commented on #148
No, the problem is still there, but I was able to use the temporary solution of using a transparent spacer view. But this shouldn't be the long-term solution for the platform.

[2019-08-01 13:02] croossin commented on #148
Of course not. However, we are not able to reproduce the issue.  We are seeing the top margin work appropriately.  Is there possibly other constraints you are setting?

[2019-08-01 13:02] #148 closed

[2019-08-01 13:07] #147 closed

[2019-08-02 04:57] zzpase opened #155 "[Help Wanted] CardTableView reload Issue."
My Custom CardTableView is  Expandable  in CardViewController(UICollectionView)
always tableView reload.

i want to no reload (self sizing)

[2019-08-02 15:02] hoidofyolen commented on #148
I don't have any other constraints set, as you can see from my screenshots. I think a little more effort should be put into trying to reproduce this issue, since it happens consistently for me. Maybe it has to do with having the view controller wrapped in a navigation controller?

[2019-08-02 15:22] croossin commented on #148
@hoidofyolen We will continue to look into this issue

[2019-08-02 15:23] croossin commented on #151
Closing due to inactivity.  Let us know if you still are having this issue.

[2019-08-02 15:23] #151 closed

[2019-08-02 15:24] croossin commented on #155
I'm sorry I may not understand what you are trying to accomplish.  What do you need help solving?

[2019-08-02 15:24] croossin commented on #129
@juliusbtesh Please let us know if you are still having this problem.

[2019-08-02 15:24] #129 closed

[2019-08-05 17:39] croossin opened #159 "Allow rx capability on UISlider for min, max"
Allow rx capability on UISlider for min, max

[2019-08-05 17:48] croossin commented on #159
Fixed in [release 2.12.0](https://github.com/intuit/CardParts/releases/tag/2.12.0)

[2019-08-05 17:48] #159 closed

[2019-08-11 11:13] vietnguyen09 opened #163 "Top margins solutions for large title navigationBar"
Hi guys,

Could anyone help me to add an extra space on top of the CardParts? Here is what I dealing with now.

![image](https://user-images.githubusercontent.com/4090897/62833113-67287680-bc63-11e9-9314-b254d753f757.png)

I use `CardPartSpacerView` but is not working.

Any way to fix this?

[2019-08-11 12:41] badrinathvm commented on #163
You need to add space on top of Another Card text card ?

[2019-08-11 12:49] vietnguyen09 commented on #163
I need this whole card section has space between my large title navigation bar header, you can see them stick together.

[2019-08-11 12:52] badrinathvm commented on #163
this view would be embedded inside the collection view. Get the flow layout of it and set section inset space.

let layout = self.collectionview.collectionviewFlowlayout as? UIcollectionViewflowlayout
layout.sectionInset = UIEdgeInset(top:10, left:10, bottom:10, right :10)

[2019-08-11 13:16] vietnguyen09 commented on #163
No this is not `collectionview`, here is my temporary solution.

Firstly, I create a Swift file called `SpacerCardParts.swift` which are use `TransparentCardTrait` and `NoTopBottomMarginsCardTrait`

    import Foundation
    import CardParts

    class SpacerCardParts: CardPartsViewController, TransparentCardTrait, NoTopBottomMarginsCardTrait {

    }

Then in my `ViewController.swift` I added thi

[2019-08-11 13:39] badrinathvm commented on #163
Try below code in SpaceCardParts

class SpacerCardParts: CardPartsViewController, TransparentCardTrait, NoTopBottomMarginsCardTrait {

       override func viewDidLoad() {
             super.viewDidLoad()

            let spacerView = CardPartSpacerView(height:20)
 spacerView.margins = UIEdgeInsets(top:10, left:0, bottom:10,right:0)
  setupCardParts(spacerView)
      }
}

[2019-08-12 03:17] badrinathvm commented on #163
or alternatively u can add below code inside `viewDidLoad()` of `ViewController.swift`, assuming ```
class ViewController:CardsViewController {
     override func viewLoad() {
         let layout = self.collectionview.collectionViewFlowLayout as? UICollectionViewfFlowLayout
         layout.sectionInset = UIEdgeInset(top:10, left:10, bottom:10, right :10)
     }
}
[code]

[2019-08-12 03:38] vietnguyen09 commented on #163
Unfortunately, it does not work somehow.

![image](https://user-images.githubusercontent.com/4090897/62844695-3f7df080-bced-11e9-9764-1b0680588e2a.png)

[2019-08-12 04:39] badrinathvm commented on #163
Correct the spelling of uicollectionviewflowlayout

[2019-08-12 11:05] vietnguyen09 commented on #163
Thanks, correct syntax for Swift 4 - 5 is

	let layout = self.collectionView.collectionViewLayout as? UICollectionViewFlowLayout
	layout!.sectionInset = UIEdgeInsets(top:100, left:10, bottom:10, right :10)
It works like a charm, thanks @badrinathvm

[2019-08-12 12:26] badrinathvm commented on #163
You welcome. Closing the issue as it’s working as expected.

[2019-08-12 12:26] #163 closed

[2019-08-15 00:18] croossin commented on #155
Closing due to inactivity.  Please reopen if you have this issue still.

[2019-08-15 00:18] #155 closed

[2019-08-15 00:19] croossin commented on #152
Closing due to inactivity.  Please reopen if you still have this issue.

[2019-08-15 00:19] #152 closed

[2019-09-17 21:04] xRose1 opened #168 "Navigation Bar not showing when card on screen used"
Hi Everyone
I created a viewcontroller from storyboard and I added a navigation bar to it. I set it as a CardsViewController and then I load the card from CardPartsViewController. I get the navigation bar hidden. I am not sure the constraints or how to fix. The cards hide my navigation bar and I need it so the user can have a back button. Anyone know how this can be done or changed? It might be si

[2019-09-20 17:45] phr85 opened #171 "Archiving App with Xcode 11 / iOS 13: hanging"
Hello
I'm using CardParts with my App (iOS 13 SDK).
I can run the App in the simulator but if I try to Archiving App with Xcode 11 GM 2, it stuck. See screenshot:

<img width="539" alt="Screenshot 2019-09-20 19 42 54" src="https://user-images.githubusercontent.com/1322091/65347382-2cf5b180-dbdf-11e9-9da1-f8b570b07185.png">

Xcode version: 11 GM 2
Swift Version: 5
CardParts version: 2.16.0
CocoaPod

[2019-09-20 18:08] croossin commented on #171
Very interesting.. we haven't built on Xcode 11 yet. I will try to do that over the weekend.

Is your app currently using CardParts in production? If so, we would love to feature it in the README! Feel free to let us know and we can add it

[2019-09-21 06:23] phr85 commented on #171
Helllo @croossin
Thank you for your feedback.
Yes, I'm using it in production:
https://itunes.apple.com/us/app/kompendium/id373040910?ls=1&mt=8

At the moment only for the "Subscription" view.

Looking forward for your feedback.

Bests

Philippe

[2019-09-21 09:10] phr85 commented on #171
I downloaded the Xcode 11 today from Mac App Store:
It stuck also but this time it's FirebaseMessaging. So maybe the problem is not directly related too "CardParts" Framework.

<img width="595" alt="Screenshot 2019-09-21 at 11 08 24" src="https://user-images.githubusercontent.com/1322091/65371091-615d8200-dc60-11e9-93da-0a00378f3e6e.png">

[2019-09-21 18:14] #171 closed

[2019-09-23 18:58] croossin opened #172 "Swift Package Manager"
Be able to distribute CardParts via SPM!

[2019-09-23 19:03] lwdupont commented on #172
Hacktoberfest? :)

[2019-09-23 19:25] croossin opened #173 "Create a CONTRIBUTING.md"
In order to have appropriate open-source standards, create a CONTRIBUTING.md file to explain to new contributors what is expected of a PR.

[2019-09-23 19:27] croossin commented on #173
Fixed via PR #174

[2019-09-23 19:27] #173 closed

[2019-09-23 19:29] croossin commented on #172
Yup @lwdupont 😄 If you want to participate!

[2019-09-23 19:31] lwdupont commented on #172
Ah, this? https://hacktoberfest.digitalocean.com/ ? Ya I just might. 😄👍

[2019-09-24 16:05] JJ-Intuit commented on #10
I can pick this up.

[2019-09-24 16:06] lwdupont commented on #10
Yes please!

[2019-09-25 04:14] xtopolis commented on #58
Are you looking to split the ReadMe into more consumable chunks, or move documentation to markup above methods and classes in the swift files? Or both?

[2019-09-25 12:35] xtopolis commented on #58
Here's what it looks like with a minimal amount of Jazzy config: https://right-notebook.surge.sh/

[2019-09-25 14:32] croossin commented on #58
@xtopolis Yes that is looking good - so it would just be getting to 100% documentation coverage.

[2019-09-25 19:37] henrik-dmg commented on #172
I'm afraid adding SPM support won't be possible for now, unless we replace the included assets with images drawn in code :( (SPM doesn't support assets yet)

[2019-10-02 01:08] xtopolis commented on #58
# Note any Hacktoberfest'ers - if you want to help me on this PR, feel free! #176

[2019-10-03 04:16] mohinee commented on #58
@croossin , @xtopolis I am interested in helping you out with this

[2019-10-03 04:24] xtopolis commented on #58
@mohinee Awesome, do you need guidance, or do you just want to jump in and add to the PR?

[2019-10-03 05:25] mohinee commented on #58
@xtopolis - I might need a little guidance as I have never used jazzy, do let me know what needs to be done so I can at least start

[2019-10-03 21:38] croossin opened #179 "Enable issue and PR templates"
In order to make CardParts more community friendly, we should have issue and PR templates.

[2019-10-04 02:31] xtopolis commented on #58
Invited you to my fork, I'll tag you in the PR with instructions

[2019-10-04 16:35] croossin opened #183 "Create a CardPartMapView"
It would be nice to have a CardPart that contains a MapView.  This MapView should have bindable properties so that a user can bind a CLLocation, zoom, etc. making the map reactive.

[2019-10-04 18:52] codethebeard commented on #183
I'd be very interested in trying this out.

[2019-10-04 19:05] croossin commented on #183
We can absolutely assign it to you! Let me know if you’d like to take it on. @codethebeard

[2019-10-04 19:12] codethebeard commented on #183
Yeah, I'd like to give it a shot. I use Mint just about every day so it's cool to have an opportunity to work on something like this. I've never worked in a framework before, so it's new territory for me but I have RxSwift/RxCocoa experience and a child-like sense of wonder.

[2019-10-04 19:15] croossin commented on #183
That’s awesome to hear! I just assigned the ticket to you.  Please reach out if you have any questions.

[2019-10-07 04:36] LMVogel commented on #58
I'd like to help, too

[2019-10-07 04:49] xtopolis commented on #58
Invited you to the fork @LMVogel

[2019-10-07 06:51] ahamedsaifudeen opened #184 "iOS 13 Dark Mode?"
Does this library support iOS 13's dark mode?

[2019-10-07 21:40] sudeepta14 commented on #179
I am taking this up

[2019-10-07 21:47] sudeepta14 commented on #179
Hey this is already completed. Please do close the issue.

[2019-10-07 22:33] croossin commented on #179
@sudeepta14 We still need to add PR templates 😄

[2019-10-07 22:34] sudeepta14 commented on #179
Ok, I will add it. Please assign it to me

[2019-10-08 14:30] croossin commented on #184
We have added no additional logic, color schemes, etc. to deal with iOS 13's dark mode.  If you would like to take up the research and/or implementation on that, it would be greatly appreciated.  We can add a Hacktoberfest label as well.

[2019-10-09 17:52] lkeude96 commented on #184
Hello @croossin. I will probably give it a shot  :)

[2019-10-09 18:14] croossin commented on #184
Love it ;) Will assign the issue to you!

@lkeude96 Would also be cool to try and remove any sort of Turbo or Mint references so that the framework can be as generic as possible

[2019-10-10 14:53] croossin commented on #183
Released in [2.17.0](https://github.com/intuit/CardParts/releases/tag/2.17.0)

[2019-10-10 14:53] #183 closed

[2019-10-10 14:54] croossin commented on #179
Released in [2.17.0](https://github.com/intuit/CardParts/releases/tag/2.17.0)

[2019-10-10 14:54] #179 closed

[2019-10-10 17:43] lkeude96 commented on #184
👋  @croossin after looking at the codebase and the current available themes, I was thinking of potentially creating `CardPartsSystemTheme` and `CardPartsCustomTheme` (not sure if those would be the final names yet).

- `CardPartsSystemTheme` would utilize the new Dynamic and Semantic System colors. Also this new theme would be used as the new default theme for `CardParts.theme`.
- `CardPartsCustom

[2019-10-10 17:48] croossin commented on #184
I like the idea of the system and custom themes..!

I'm thinking that we can remove them and just add any of the values we are using inside the themes as a generic color extension.  I just want to make the project as generic as possible.

Thanks for all the input!

[2019-10-11 00:13] lkeude96 commented on #184
##  Work in progress.... 😅
<img height=768 src="https://user-images.githubusercontent.com/4162091/66615326-d6eaad00-eb91-11e9-8ef4-cdce695ed3c0.png" />

[2019-10-11 03:15] lwdupont commented on #184
Woo sweet!!

[2019-10-11 12:28] ahamedsaifudeen commented on #184
@lkeude96  Thanks for looking into it. Looks great. Looking forward for the update soon!

[2019-10-11 14:09] croossin commented on #184
This is awesome, @lkeude96 ! Great job. Keep us updated

[2019-10-12 15:57] xtopolis commented on #58
Updated the PR to make it easier to see how to get started: https://github.com/intuit/CardParts/pull/176

[2019-10-12 22:57] mike011 commented on #172
https://bugs.swift.org/browse/SR-2866

[2019-10-17 18:10] deepankar23 commented on #168
Hey XRose1...  Are you pushing the CardsViewController from CardPartsViewController or presenting it modally? If you are pushing then you don't need to add any navigation bar & you will get the navigation from the CardPartsViewController. But if you are presenting it, then it makes sense.

[2019-10-19 07:18] lkeude96 commented on #172
👋 As a temporary solution, i opened #189 . :)

[2019-10-22 14:58] croossin commented on #184
@lkeude96 How's it coming along?

[2019-10-23 08:12] lkeude96 commented on #184
👋 Hi sorry for the delay. it's coming along great. Took slightly longer than expected due to some additional workaround in order to maintain backward compatibility. I will be opening a WIP pr soon to start getting feedback and in order to discuss how we want to expose those API to someone using the library. 😄

[2019-10-23 14:49] croossin commented on #184
Sounds good, @lkeude96 !

[2019-10-23 15:32] lwdupont commented on #184
Can't wait! :)

[2019-10-23 16:36] croossin opened #192 "Animations"
It would be great if we could add animations to the way our views are loaded and displayed.  Whether it's built into CardParts or potentially another pod such as CardPartsAnimations.

[2019-10-24 16:50] lkeude96 commented on #172
@croossin from the test project i was referring to in my comment ☝️ <img width="230" alt="Screen Shot 2019-10-24 at 11 47 28 AM" src="https://user-images.githubusercontent.com/4162091/67507341-55e0ea80-f654-11e9-8b6a-a9daf60be7e6.png">

[2019-10-24 16:53] lkeude96 commented on #172
most likely will want to exclude the `Example` from the target 😅

[2019-10-25 16:12] lkeude96 commented on #172
Related: [Draft Proposal: Package Resources ](https://forums.swift.org/t/draft-proposal-package-resources/29941) but it's still in draft/pitch phase

[2019-10-25 16:54] sc2776 commented on #192
Hi @croossin
I'll try working on this enhancement.

[2019-10-25 17:01] croossin commented on #192
Sounds good, @sc2776 !

[2019-10-25 17:02] croossin commented on #192
Maybe we can leverage [Hero](https://github.com/HeroTransitions/Hero)

[2019-10-27 16:18] croossin commented on #168
Hi @xRose1 - can you verify that this is still an issue? If it is, feel free to re-open the issue.

[2019-10-27 16:18] #168 closed

[2019-10-30 14:23] croossin commented on #184
@lkeude96 - how’s it coming along? Think we will be able to merge before end of month?

[2019-10-30 23:32] lkeude96 commented on #184
@croossin Just open a WIP PR. 😅One of the main, thing i was still trying to get to work are shadows 🤔

[2019-10-31 14:49] croossin commented on #192
How's this coming along, @sc2776 ?

[2019-12-03 22:00] jmjordan opened #207 "Custom margins per CardController"
**Is your feature request related to a problem? Please describe.**
Yes, cards within a CardsViewController must all have the same margin.

**Describe the solution you'd like**
I'd like a way to specify a custom margin for an individual card with a CardsViewController. The main reason is to specify 0 margin for things like transparent cards that need to be the full width of the view.

**Describe al

[2019-12-04 02:37] croossin commented on #207
This is awesome, @jmjordan. Please open a PR so that we can take a look. Looking forward to reviewing it!

[2019-12-04 02:44] badrinathvm commented on #207
@jmjordan this feature is already present make use of  below parameter to
set custom margins, by default they are set to default cardPart theme
margins.

// allow customization of cardCellMargins for an individual
CardsViewController; still default to theme
public var cardCellMargins : UIEdgeInsets = CardParts.theme.cardCellMargins

Thanks,
Badarinath

On Wed, Dec 4, 2019 at 8:07 AM Chase <notific

[2019-12-04 02:59] jmjordan commented on #207
@croossin Will do!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-12-04 03:00] jmjordan commented on #207
@badrinathvm I believe that feature only allows having a custom margin for all cards in a CardsViewController. My proposed feature would allow for custom margins on individual cards.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-12-04 03:03] badrinathvm commented on #207
Yes the parameter which I mentioned does for all the cards not for
individual ones. Would be available to see your PR and validate.

Thanks,
Badarinath

On Wed, Dec 4, 2019 at 8:30 AM jmjordan <notifications@github.com> wrote:

[2019-12-04 03:04] croossin commented on #207
@badrinathvm As Jordan mentioned, we only have the ability to set for all cards, not individual cards. @jmjordan Please open a PR 😄 thanks.

[2019-12-04 03:08] badrinathvm commented on #207
Yes @croossin , I mentioned Jordan to create a PR to validate.

On Wed, Dec 4, 2019 at 8:34 AM Chase <notifications@github.com> wrote:

[2019-12-04 03:10] jmjordan commented on #207
PR: https://github.com/intuit/CardParts/pull/208

[2019-12-04 18:14] muzoman opened #209 "Theme properties are not overridable for an individual CardsViewController"
The idea of a Theme is great, but I need to override one of the properties - cardsViewContentInsetTop and there doesn't seem to be a way to do that.

I see that you've added a cardCellMargins property to CardsViewController so that it can be overridden.

Do I need to fork this repository to tweak it to add the cardsViewContentInsetTop in the same way or is there a better solution to overriding thi

[2019-12-06 16:02] croossin commented on #207
Completed in PR #208 and [Version 2.22.0](https://github.com/intuit/CardParts/releases/tag/2.22.0)

[2019-12-06 16:02] #207 closed

[2019-12-11 07:31] muzoman opened #211 "CardPartPagedView doesn't scroll content when currentPage is set."
**Describe the bug**
If you set up CardPartPagedView with 3 pages and then set currentPage to 3 the control only displays page 1.

**To Reproduce**
As above, in the example project add a line to set the currentPage to any value other than 1 and page 1 only is displayed.

**Expected behavior**
Content page displayed that corresponds to the page number set for currentPage property.

**Screenshots**

[2019-12-12 18:19] croossin commented on #184
@lkeude96 Are shadows the only things missing from having dark mode support?

[2019-12-12 19:03] rcole34 opened #212 "Add a component based on UITextView"
Existing CardParts are built around UILabel or UITextField, which lack some of the customizable power of UITextView. For instance, you can set the `attributedText` property of these other components, but links in attributed text are only clickable in UITextView. Additionally, I am not aware of the other UIKit text components having the ability to set exclusion paths to be able to wrap text around

[2019-12-13 05:01] lwdupont commented on #212
Semi-similar idea - a card part that can render markup?

[2019-12-19 08:57] muzoman opened #213 "CardParts Cannot be shared across states"
If a CardPart is created and then used in multiple calls to setupCardParts forState then upon first display the shared CardPart is not displayed.

I amended the example StateCardController thus:
`
override func viewDidLoad() {
		super.viewDidLoad()

        self.state = .empty

        let sharedPart = CardPartTextView(type: .normal)
        sharedPart.text = "Shared Card Part"

        let textPa

[2020-01-07 15:06] croossin commented on #212
This has been completed by PR #214 and released in version [2.23.0](https://github.com/intuit/CardParts/releases/tag/2.23.0)

[2020-01-07 15:06] #212 closed

[2020-01-09 18:41] rborquezdiaz opened #221 "Auto Resizing Issue on Modal Views Presented in formSheet Style"
**Describe the bug**

There seems to be an issue with Autolayout behavior when the `CardsViewController` is presented modally using a `modalPresentationStyle` of types: **formSheet** or **actionSheet**. I haven't tried it on iPhone but it's really evident on iPads running iOS13 (Since **formSheet** is the new automatic behavior). Also worth noting, if the device is rotated, Autolayout will then re

[2020-01-09 18:44] croossin commented on #221
@rborquezdiaz Thank you for the very detailed bug description - we will try to take a look into this!  Would be interesting to understand if you see the same issue if trying on an iPhone

[2020-01-09 19:44] rborquezdiaz commented on #221
Thank you for answeing so fast and being so dilligent with updating the framework, hopefully it's just a mistake on my part of the implementation. I don't know if it's relevant, but it's being presented from a non RxSwift module (In other words, a classic presentation).

It's happening on iPhone as well. I'll attach a Screenshot.

![File](https://user-images.githubusercontent.com/9374940/72099299-

[2020-01-10 16:30] croossin commented on #221
@rborquezdiaz Do you mind sharing the code used to present and the code of the `CardsViewController` as well as the `CardPartsViewController`? This can help us debug the issue.

[2020-01-10 17:39] rborquezdiaz commented on #221
@croossin Sure thing. One thing I noticed is that if I present the controller embeded in a Navigation Controller, it fixes the issue. But I seem to be having issues presenting the `CardsViewController` inside a `ContainerView`.

**MainViewController (CardsViewController)**
[code]

**MainContainerViewController**
[code]

**Presentation**
[code]

Unfortunately, the `CardPartsViewControllers` shows m

[2020-01-30 08:12] MohamedSadokKrichen opened #229 "Load a custom collectionViewCell into cardsPartViewController"
Hello, i'm using card part to show a list, so i created my custom collectionViewCell, now i want to load that cell in a stack view. How can i do that ?

[2020-01-30 16:16] badrinathvm commented on #229
@MohamedSadokKrichen  https://github.com/intuit/CardParts#cardpartcollectionview will help how to handle custom collection view cell.

[2020-02-14 19:40] michaelnathaniel opened #234 "Animation for CardPartSliderView"
The CardPartSliderView is working well. However, I am always frustrated with dealing the animations (I would want to have it animating horizontally but anything else may be fine). I would like to have an embedded function with only several parameters like duration, slider view object, and the built-in type of animation. I tried using UIView.animate(withDuration:) for this but it's too complicated

[2020-03-04 15:43] allygreen opened #239 "RxSwift needs updated"
**Describe the bug**
When submitting app's using cardparts to the app store, apple sends an email with this content.

ITMS-90809: Deprecated API Usage - Apple will stop accepting submissions of apps that use UIWebView APIs . See https://developer.apple.com/documentation/uikit/uiwebview for more information.

This is due to the RxSwift version being kept at 4.5.

The RxSwift maintainers have just b

[2020-03-23 22:04] MatrixSenpai commented on #239
I'm adding my +1 to this, with some additional comments.

First off, I understand the decision to keep RxSwift/RxCocoa at v4 for such a long time (see #64) but that was a year ago, and I think that it's time to move on. I've been unable to include CardParts in my work for a long time because of this, and I've desperately wanted to use this library. Old versions can still be used, hell, even an ope

[2020-03-24 13:13] PaulDeFilippi opened #242 "view is left aligned until start scroll - iPad only"
**Describe the bug**
There seems to be an issue when a cardPart view is presented modally on iPad only. The view loads left aligned until you first touch the screen and start to scroll. It immediately fixes itself when you start scrolling.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
The expected b

[2020-03-30 02:44] Draelyre commented on #184
How do we make the background of the CardPartsViewController dark like in the image @lkeude96 sent?

[2020-04-08 04:46] yohaoquan commented on #184
Hey guys. Any update on this? Or anyway I could change the background colour of the VC?

[2020-04-08 18:58] PaulDeFilippi commented on #242
@croossin Hey, Saw that you have previously responded to other bugs. I wanted to make sure we reported this correct on our end. Thanks in advance.

[2020-04-12 08:22] Koronaa commented on #144
From RxSwift 5 onwards, use import `RxRelay`

[2020-04-13 19:30] lkeude96 commented on #172
Update: packages with resources should be part of swift 5.3. https://forums.swift.org/t/se-0271-package-manager-resources/30730 🥳

[2020-04-13 20:03] lwdupont commented on #172
Nice!

[2020-05-01 17:12] jmjordan opened #245 "Allow override of scrollViewDidScroll in CardsViewController"
**Is your feature request related to a problem? Please describe.**
I would like to be able to override scrollViewDidScroll in a CardsViewController for custom UI

**Describe the solution you'd like**
Change scrollViewDidScroll in CardsViewController to `open`

**Describe alternatives you've considered**
A custom delegate method could be created but I don't think that's necessary

**Additional cont

[2020-05-01 17:34] jmjordan commented on #245
I'm happy to do the work if it is approved.

[2020-05-05 16:04] MohamedSadokKrichen opened #246 "Card width and height"
Hello, i want to change my cards width wich i can't do it and that's making me crazy, card by default take the screen width, i want to change that, how can i do it ?

[2020-05-05 22:50] badrinathvm commented on #246
@MohamedSadokKrichen you can make use of `CardPartStackView` fill spacer View towards left and right of it.

[2020-05-05 22:51] badrinathvm commented on #245
@jmjordan  Please send us PR will review and take it further. Thank you.

[2020-05-07 04:26] jmjordan commented on #245
https://github.com/intuit/CardParts/pull/247

[2020-05-22 19:10] pinktoadette commented on #246
Can you elaborate fill spaced left right?

[2020-06-09 08:43] ivrylobs opened #248 "Can i setup CardController with other custom view such dropdown view as a parts in setupCartParts"
I need to add more Part beside CartParts component

Example i have normal dropdown view that can use in UIView and i want to add it in CardController
in setupCardParts

can i do that ?
<img width="367" alt="Screen Shot 2563-06-09 at 15 43 31" src="https://user-images.githubusercontent.com/13993037/84126366-02e36880-aa68-11ea-9c9b-ec11c6511442.png">

[2020-06-12 18:17] ivrylobs opened #249 "Custom UIView Part overlap each other part"
I have the problem with creating a Custom Part and when setup part it overlap with each other parts

<img width="200" alt="Screen Shot 2563-06-13 at 01 11 45" src="https://user-images.githubusercontent.com/13993037/84533693-e028ac80-ad12-11ea-9eb5-ee7f81917c38.png">

First i have implemented CartPartView and UIButton to my Custom Part Class which is The red Dropdown in the second CartPartViewContr

[2020-06-17 13:44] #239 closed

[2020-06-17 13:51] croossin commented on #239
This has been fixed and released in [version 3.0.0](https://github.com/intuit/CardParts/releases/tag/3.0.0)

[2020-06-17 13:51] croossin commented on #64
This has been fixed and released in [version 3.0.0](https://github.com/intuit/CardParts/releases/tag/3.0.0).

[2020-09-15 21:03] xyd945 opened #258 "pod install doesn't include the development Pods"
Hi it's a dummy question, but I just finished my iOS course, and trying to build my 1st app.

I cloned the Example, installed the Pod, everything is working. However, when I install the Pod in my own Xcode project... it is missing the Development Pods, which end in missing those CardPartsViewController.....

![Screen Shot 2020-09-15 at 11 02 05 PM](https://user-images.githubusercontent.com/1191207

[2020-09-15 21:07] xyd945 commented on #258
seems I cannot change the label this.... it's "help wanted" request. please...

[2020-09-29 15:54] shubhampkj commented on #192
Hi @croossin
Is this issue still open? I am look to solve it during HacktoberFest '20.
Please let me know.

[2020-10-01 10:22] AasthaGupta opened #261 "Support 2 column view for iPad"
**Is your feature request related to a problem? Please describe.**
In large screen devices such as iPad, there should be an option to support at least two column views.

**Describe the solution you'd like**
An option through which you can enable 2 column support.

[2020-10-01 17:08] AasthaGupta commented on #261
@croossin @badrinathvm What do you guys think?

[2020-10-09 05:25] bevbomb commented on #261
This would be an amazing enhancement!

[2020-10-29 06:47] rcole34 commented on #258
Hi @xyd945, sorry for the late response! Hopefully you figured this out by now, but the "Development Pods" section will not show up if you are working from a published version of CardParts (or any other pod for that matter). In the Example project, notice that the Podfile mentions `pod 'CardParts', :path => '../'`, which points to the local (development) version of the library, rather than the pub

[2020-11-15 05:14] Ehsan-Home opened #267 "Cannot find type 'CardsViewController' in scope"
Hello everyone. First of all, thank you for your amazing library. Super useful so far 🚀

I have a problem loading this library into my Xcode project.

This is my podfile:

[code]

After running pod install, I get the following result in my terminal:

![Screen Shot 2020-11-14 at 9 11 27 PM](https://user-images.githubusercontent.com/32008442/99171447-fd94e480-26bd-11eb-93aa-e3b2429e8747.png)

Finall

[2020-11-15 06:28] bharathmurs commented on #267
Hi @Ehsan-Home,
I see you are missing `import CardParts`. That shall help you fix the issue.

[2020-11-25 03:20] Ehsan-Home commented on #267
Got you.

Thank you.

[2020-11-25 03:20] #267 closed

[2021-01-29 06:48] chrispykim commented on #150
@croossin `loadCards(card:)` removes all existing cards and loads the new array of cards right? That isn't quite what I picture when I think about infinite scrolling; is there a way to append cards to the existing set rather than refreshing the view with a new set of cards?

[2021-09-27 13:09] wimzee-rcheng opened #276 "Different themes for different CardViewControllers?"
See title - ideally, have different themes assigned to CardViewController.

I can kind of hack it together with inits and tracking when certain view controllers get init and not, but much easier to just be able to assign it rather than as a global.

Thoughts?

[2021-11-03 17:38] KyreeDove commented on #276
Dark mode

Light mode
//?

[2022-01-07 08:16] zhenyiy opened #280 "reload specific card inside CardPartsViewController by calling loadSpecificCards"
I'd like to reload one specific card after I get the data update from an async restful process. However, loadSpecificCards function is not available under the CardPartsViewController. I am wondering what's the correct method to achieve that. Also, I am wondering what the "indexPath" in the function is. Is it possible for someone to give an example? Thank you very much!

[code]